<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opprett IMEI</title>
    <!-- Add Bootstrap CSS link -->
    <%- include('../components/headers.ejs') %>
      <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include('../components/navbar') %>
        <% if(isAdmin){ %>
            <%- include('../components/sidebar') %> 
        <% } else{%>
            <%- include('../components/manager_sidebar', { permissions }) %> 
        <% } %>  

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item"><a href="/imeis">Imeis</a></li>
                    <li class="breadcrumb-item active">Legge til</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                Opprett IMEI
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <form class="container-fluid" id="createImeiForm">
                                <div>
                                    <div class="mb-3 form-group">
                                        <input type="text" id="serial" name="serial" class="form-control" placeholder="Seriell" required>
                                    </div>
                                    <div class="mb-3 form-group">
                                      <input type="text" id="name" name="name" class="form-control" placeholder="Navn" required>
                                  </div>
                                    <div class="mb-3">
                                      <select id="zone" name="zone" class="form-select custom-select">
                                          <!-- Options will be added dynamically using JavaScript -->
                                      </select>
                                  </div>
                                    <div class="d-flex justify-content-center align-items-center mt-3 btn-group">
                                      <button type="button" class="btn btn-info" onclick="createIMEI()">Legge til</button>
                                    <a href="/imeis" class="btn btn-secondary ps-3 pe-3">Avbryt</a>
                                    </div>
                                  </div>
                            </form>
                                         
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
    </div>

        <%- include('../components/footer') %>
    </div>

    <%- include('../components/scripts.ejs') %>
    
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>



    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $('#createImeiForm').validate({
    rules: {
      name: {
        required: true,
      },

      serial:{
        required: true
      }
    },
    messages: {
      name: {
        required: "skriv inn imei navn",
      },

      serial:{
        required: "skriv inn imei serie"
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });

  // Function to populate the zone dropdown with data from /admin/api/zones
async function populateZoneDropdown() {
            try {
                const zoneDropdown = document.getElementById('zone');

                // Fetch zones data from /admin/api/zones
                const response = await fetch('/admin/api/zones');
                const zones = await response.json();

                // Populate the dropdown options
                zones.forEach((zone) => {
                    const option = document.createElement('option');
                    option.value = zone._id;
                    option.text = zone.name;
                    zoneDropdown.appendChild(option);
                });
            } catch (error) {
                console.error('Error fetching and populating zones:', error);
            }
        }

      async function createIMEI(){
        if($('#createImeiForm').valid()){
          try{
          // Retrieve data from input fields
          const serial = document.getElementById('serial').value;
          const name = document.getElementById('name').value;
          const selectedZoneId = document.getElementById('zone').value;

          let response = await fetch('/admin/api/imeis',{
            method: 'POST',
            headers:{
              'Content-Type': 'application/json; charset=utf-8'
            },
            body:JSON.stringify({
              serial: serial,
              name: name,
              zone: selectedZoneId
            })
          })

          if(response.status == 200){
            Toast.fire({
              icon: 'success',
              title: 'imei opprettet vellykket'
            })
            setTimeout(() =>{
              location.href = '/imeis'
            },3000)
          }else{
            Toast.fire({
              icon: 'error',
              title: await response.json()
            })
          }
          }catch(error){
            Toast.fire({
              icon: 'error',
              title: error.message
            })
        }
        }
      }

      // Invoke the code when the DOM content is loaded
      document.addEventListener('DOMContentLoaded', () => {
            // Populate the zone dropdown when the page loads
            populateZoneDropdown();
        });


    </script>

</body>
</html>


