<!DOCTYPE html>
<html>
<head>
    <title>Arkiv</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf_viewer.css">
    <%- include('../components/headers') %>
    <style>
        body{
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <% if(isAdmin){ %>
            <%- include('../components/sidebar') %> 
        <% } else{%>
            <%- include('../components/manager_sidebar', { permissions }) %> 
        <% } %> 

        <div class="content-wrapper">
            <div class="content" style="height: 100vh;">
            <iframe src="/plugins/pdfjs/web/viewer.html?file=<%= link %>" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>

        <%- include('../components/footer') %>
    </div>
    
    <%- include('../components/scripts.ejs') %>
</body>
</html>
