 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-secondary elevation-4">
  <!-- Brand Logo -->
  <a href="/managers/dashboard" class="brand-link">
    <img src="/images/gensolv.png" alt="Gensolv" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Admin Dashbord</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">

        <h2 class="nav-header">Tillatte tillatelser</h2>
        <div class="p-container">
            <% 
                let mapMethodToReadable = {
                    "GET": 'Lese',
                    "POST": 'Legge til',
                    "PUT": 'Oppdater',
                    "DELETE": 'Slett',
                }    

                let mapMethodToLink = (permission) => {
                    return {
                    'GET': permission.route,
                    'DELETE': permission.route,
                    'PUT': permission.route,
                    'POST': permission.route + '/create'
                  }[permission.method]
                }

                let mapMethodToIcon = {
                  'GET': 'fas fa-book-open',
                  'DELETE': 'fas fa-trash',
                  'PUT': 'fas fa-edit',
                  'POST': 'fas fa-plus'
                }

                let mapMethodToColor = {
                  'GET': 'steelblue',
                  'DELETE': 'red',
                  'PUT': 'gold',
                  'POST': 'green'
                }
            %>
            <% permissions.forEach(permission => { %>
              <li class="nav-item" style="background-color: <%= mapMethodToColor[permission.method] %>">
                <a href="/<%= mapMethodToLink(permission) %>" class="nav-link">
                    <i class="nav-icon <%= mapMethodToIcon[permission.method] %> mr-1"></i>
                    <p>
                      <%= mapMethodToReadable[permission.method] %> <%= permission.route %>
                    </p>
                  </a>
            </li>
            <% }); %>
        </div>
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
