<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oppdater felt</title>
    <%- include('../components/headers.ejs') %> 
      <!-- SweetAlert2 -->
      <link rel="stylesheet" href="/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
      <!-- Toastr -->
      <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
</head>
<body>
    <div class="wrapper">
        <%- include('../components/navbar') %>
        <% if(isAdmin){ %>
            <%- include('../components/sidebar') %> 
        <% } else{%>
            <%- include('../components/manager_sidebar', { permissions }) %> 
        <% } %>  

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item"><a href="/fields">Enger</a></li>
                    <li class="breadcrumb-item"><a href="/fields"><%= formField._id %></a></li>
                    <li class="breadcrumb-item active">Oppdater</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                Oppdater felt
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container-fluid">
                                    <form id="editFormFieldForm">
                                        <div class="form-group">
                                            <label for="title">Tittel</label>
                                            <input type="text" class="form-control" id="title" name="title" value="<%= formField.title %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="answerDataType">Svardatatype</label>
                                            <select class="form-control custom-select" id="answerDataType" name="answerDataType" required onchange="toggleAdditionalFields()">
                                                <option value="text">Tekst</option>
                                                <option value="number">Nummer</option>
                                                <option value="yes_no">Ja-Nei</option>
                                                <option value="file">Fil</option>
                                                <option value="date">Dato</option>
                                                <option value="image">Bilde</option>
                                            </select>
                                        </div>
                                
                                        <div class="form-group">
                                            <label for="form">Skjema</label>
                                            <select class="form-control custom-select" id="form" name="form">
                                                <option value="First">Bilskjema</option>
                                                <option value="Second">dagensskjema</option>
                                                <!-- Add more options as needed -->
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="group">Gruppe</label>
                                            <select class="form-control custom-select" id="group" name="group">
                                                <% groups.forEach(group => { %>
                                                    <option value="<%= group._id %>"><%= group.name %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                
                                        <div class="form-group" id="requiredDescriptionGroup">
                                            <label for="requiredDescription">Nødvendig beskrivelse</label>
                                            <input type="text" class="form-control" id="requiredDescription" name="requiredDescription" value="<%= formField.requiredDescription %>">
                                        </div>
                                
                                        <div class="form-group form-check" style="display: none" id="hasRequiredDescriptionGroup">
                                            <input type="checkbox" class="form-check-input" id="hasRequiredDescription" name="hasRequiredDescription" <%= formField.hasRequiredDescription ? 'checked' : '' %> onchange="toggleRequiredDescription()">
                                            <label class="form-check-label" for="hasRequiredDescription">Har nødvendig beskrivelse</label>
                                        </div>
                                        <div class="form-group custom-select" style="display: none;" id="positiveGroup">
                                            <label for="positive">Velg når du vil få beskrivelse</label>
                                            <select name="positive" class="form-control" id="positive" disabled>
                                                <option value="yes">Ja</option>
                                                <option value="no">Nei</option>
                                            </select>
                                        </div>
                                        <div class="d-flex justify-content-center btn-group">
                                            <button type="submit" class="btn btn-info">Oppdater</button>
                                            <a href="/fields" class="btn btn-secondary">Avbrytt</a>
                                        </div>
                                    </form>
                                </div>                    
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
    </div>

        <%- include('../components/footer') %>
    </div>


    <%- include('../components/scripts.ejs') %>
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>

<script>

var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $('#updateCarForm').validate({
    rules: {
      boardNumber: {
        required: true,
      },
      privateNumber: {
        required: true,
      },
      kilometers: {
        required: true
      },
    },
    messages: {
      boardNumber: {
        required: "skriv inn et tavlenummer",
      },
      privateNumber: {
        required: "skriv inn et privat nummer",
      },
      kilometers: {
        required: "skriv inn kilometer"
      },
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });


    function toggleRequiredDescription() {
        const positive = document.getElementById("positive");
        const checkbox = document.getElementById("hasRequiredDescription");
        positive.disabled = !checkbox.checked;
    }

    // Function to show/hide additional fields for "Ja-Nei" question type
    function toggleAdditionalFields() {
        const answerDataType = document.getElementById("answerDataType");
        const requiredDescriptionGroup = document.getElementById("hasRequiredDescriptionGroup"); // Corrected ID
        const positiveGroup = document.getElementById("positiveGroup"); // Corrected ID

        console.log(answerDataType.value)
        if (answerDataType.value === "yes_no") {
            requiredDescriptionGroup.style.display = "block";
            positiveGroup.style.display = "block";
        } else {
            requiredDescriptionGroup.style.display = "none";
            positiveGroup.style.display = "none";
        }
    }



    const form = document.getElementById('editFormFieldForm')
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const title = document.getElementById('title');
        const answerDataType = document.getElementById('answerDataType');
        const hasRequiredDescription = document.getElementById('hasRequiredDescription');
        const requiredDescription = document.getElementById('requiredDescription');
        const whenToGetDescription = document.getElementById('positive');
        const formId = document.getElementById('form').value; // Get selected form value
        const groupId = document.getElementById('group').value; // Get selected group value

        const formFieldId = '<%= formField._id %>';

        fetch(`/admin/api/formFields/${formFieldId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify({
                title: title.value,
                answerDataType: answerDataType.value,
                hasRequiredDescription: hasRequiredDescription.checked,
                requiredDescription: requiredDescription.value,
                whenToGetDescription: whenToGetDescription.value,
                form:formId,
                group:groupId
            })
        })
            .then(async response => {
                if (response.status == 200) {
                    Toast.fire({
                        icon: 'success',
                        title: "Feltet ble oppdatert"
                    })
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: await response.json()
                    })
                }
            })
            .catch(error => {
                Toast.fire({
                    icon: 'error',
                    title: error.message
                })
            });
    });
</script>
</body>
</html>


