<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P-Automater</title>

    <%- include('../components/headers') %>


  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <%- include('../components/navbar') %>
        
    <% if(isAdmin){ %>
            <%- include('../components/sidebar') %> 
        <% } else{%>
            <%- include('../components/manager_sidebar', { permissions }) %> 
        <% } %>  

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item active"><a href="/issues">Problemer</a></li>
                    <li class="breadcrumb-item active">kategori</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="d-flex justify-content-end align-items-center mb-2 container-fluid">
                <a href="/issues/categories/create" class="btn btn-warning btn-sm mr-1">
                    <i class="fa fa-plus"></i>
                    <span>Opprett kategori</span>
                </a>
                <button data-toggle="modal" data-target="#confirmAllDeleteModal" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                    <span>Slett alle</span>
                </button>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                P-Automatdata
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Betydning</th>
                                    <th>Problems</th>
                                    <th>Handlinger</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% 
                                        let importanceLevelJumpTable = {
                                            1: 'High',
                                            2: 'Medium',
                                            3: 'Low',
                                        }    

                                        let importanceLevelColorJumpTable = {
                                            1: 'red',
                                            2: 'gold',
                                            3: 'green'
                                        }
                                    %>
                                    <% categories.forEach(category => { %>
                                        <tr>
                                            <td><%= category.name %></td>
                                            <td style="color: <%= importanceLevelColorJumpTable[category.importanceLevel] %>;"><%= importanceLevelJumpTable[category.importanceLevel]  %></td>
                                            <td style="text-align: start;">
                                                <% for(let problem of category.problems){%>
                                                    <span><%= problem %></span>
                                                    <br>
                                                <% } %>
                                            </td>
                                            <td class="d-flex justify-content-center align-items-center">
                                                <a href="/issues/categories/<%= category._id %>/update" class="btn btn-sm btn-info mr-1">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <!-- Add delete button if needed -->
                                                <div class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal<%= category._id %>">
                                                    <i class="fa fa-trash"></i>
                                                </div>
                                                


                                                
                                            </td>
                                        </tr>
                    
                                        <div class="modal fade" id="deleteConfirmationModal<%= category._id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Bekreft sletting</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Lukk"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Er du sikker på at du vil slette denne P-Automat?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                                                        <button type="button" class="btn btn-danger" id="confirmDelete" onclick="deleteIssueCategory('<%= category._id %>')" data-dismiss="modal">Slett</button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                </tbody>
                              </table>
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
    </div>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <div class="p-4">
        <i class="fa fa-arrow-left" data-widget="control-sidebar" data-slide="true" href="#" role="button"></i>
    </div>

    <div id="control-content">

    </div>
</aside>
        <%- include('../components/footer') %>
    </div>

    <div class="modal fade" id="confirmAllDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmAllDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAllDeleteModalLabel">Delete all issue categories confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Vil du slette alle problemkategorier?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteAllIssueCategories()" id="confirmAllDeleteBtn">Slett</button>
                </div>
            </div>
        </div>
    </div>


<%- include('../components/scripts') %>

<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Bootstrap Switch -->
<script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>


<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
        "language": {
        "emptyTable": "Ingen data tilgjengelig",
        "infoEmpty": "Ingen data tilgjengelig Info",
        "zeroRecords": "Det er ingen samsvarende data"
        } ,
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
  </script>
<script>
    var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });


        function deleteIssueCategory(id){
            
                    // Send a DELETE request to delete the machine
                    fetch(`/admin/api/issues/categories/${id}`, {
                        method: 'DELETE',
                    })
                    .then(async (response) => {
                        if (response.status == 200) {
                            Toast.fire({
                                icon: 'success',
                                title: "Problemkategori slettet"
                            })

                            setTimeout(() => location.reload(),3000)
                        } else {
                            Toast.fire({
                                icon: 'error',
                                title: await response.json()
                            })
                        }
                    })
                    .catch((error) => {
                        Toast.fire({
                                icon: 'error',
                                title: error.message
                            })
                    });
        }

        function deleteAllIssueCategories(){
            
            // Send a DELETE request to delete the machine
            fetch(`/admin/api/issues/categories`, {
                method: 'DELETE',
            })
            .then(async (response) => {
                if (response.status == 200) {
                    Toast.fire({
                        icon: 'success',
                        title: "Alle maskiner ble slettet"
                    })

                    setTimeout(() => location.reload(),3000)
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: await response.json()
                    })
                }
            })
            .catch((error) => {
                Toast.fire({
                        icon: 'error',
                        title: error.message
                    })
            });
}
</script>
</body>
</html>