<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

    <%- include('../components/headers') %>


  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->

  <style>
    thead input {
        width: 100%;
    }

  

    /* Custom CSS for overlay */
    .image-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Background with opacity */
      z-index: 9999;
    }

    .image-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10000;
    }

    .image-container img {
      min-width: 90%;
      min-height: 80vh; /* Adjust as needed */
    }
  </style>
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <%- include('../components/navbar') %>
    <% if(isAdmin){ %>
            <%- include('../components/sidebar') %> 
        <% } else{%>
            <%- include('../components/manager_sidebar', { permissions }) %> 
        <% } %>  

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item active">Post</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="row container-fluid">
              <div class="col-lg-6 col-md-9 col-sm-12">
                  <div class="form-group">
                      <div class="input-group date" id="reservationdate" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

            <div class="d-flex justify-content-end align-items-center mb-2 container-fluid">
                <button data-toggle="modal" data-target="#deleteAllPostalsModal" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                    <span>Slett alle</span>
                </button>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                Postdata
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                  <tr>
                                    <th scope="col">Dato</th>
                                    <th scope="col">Ks.nummer</th>
                                    <th scope="col">PNID</th>
                                    <th scope="col">Handlinger</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% postalViolations.forEach(function(postalViolation) { %>
                                    <tr>
                                      <td><%= postalViolation.date %></td>
                                      <td><%= postalViolation.violationNumber %></td>
                                      <td><%= postalViolation.pnid %></td>
                                      <td class="controls">
                                        <button class="btn btn-info btn-sm show-image" data-image-url="<%= postalViolation.image %>">
                                          <i class="fa fa-image"></i>
                                        </button>
                                        <a href="/postals/<%= postalViolation.id %>" class="btn btn-info btn-sm">
                                          <i class="fa fa-file-pdf"></i>
                                        </a>
                                        <button role="button" class="btn btn-danger btn-sm delete-violation" data-target="#deleteModal<%= postalViolation._id %>" data-toggle="modal">
                                          <i class="fa fa-trash"></i>
                                        </button>
                                      </td>
                                    </tr>

                                    <div class="modal fade" id="deleteModal<%= postalViolation._id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Bekreft sletting</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                          </div>
                                          <div class="modal-body">
                                            Er du sikker på at du vil slette dette PDF?
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                                            <button type="button" class="btn btn-danger" id="confirmDelete" data-dismiss="modal" onclick="deletePostal('<%= postalViolation._id %>')">Slett</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <% }); %>
                                </tbody>
                              </table>
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
    </div>

        <%- include('../components/footer') %>
    </div>


  <!-- Image Overlay and Container -->
  <div class="image-overlay" id="imageOverlay">
    <div class="image-container">
      <img src="" alt="Postal Violation Image" id="modalImage">
    </div>
  </div>


  <div class="modal fade" id="deleteAllPostalsModal" tabindex="-1" aria-labelledby="deleteAllPdfModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAllPdfModalLabel">Slett PDF-bekreftelse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              Vil du slette alle postene?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteAllPostals()" id="confirmDeleteBtn">Slett</button>
            </div>
        </div>
    </div>
</div>




<%- include('../components/scripts') %>

<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
    $(function () {

      $("#example1").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
        "language": {
        "emptyTable": "Ingen data tilgjengelig",
        "infoEmpty": "Ingen data tilgjengelig Info",
        "zeroRecords": "Det er ingen samsvarende data"
        } ,
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
  </script>
<script>
    var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        async function deleteAllPostals(){
      try{
        let response = await fetch('/admin/api/postals',{
          method: 'DELETE',
        })

        if(response.status == 200){
            Toast.fire({
              icon: 'success',
              title: 'Alle postene ble slettet'
            })
          setTimeout(() =>{
            location.reload()
          },3000)
        }else{
          Toast.fire({
            icon: 'error',
            title: await response.json()
          })
        }
      }catch(error){
        Toast.fire({
          icon: 'error',
          title: error.message
        })
      }
    }

    // JavaScript to handle showing the image on top of body elements
    const showImageButtons = document.querySelectorAll('.show-image');
    const imageOverlay = document.getElementById('imageOverlay');
    const modalImage = document.getElementById('modalImage');

    showImageButtons.forEach(button => {
      button.addEventListener('click', function () {
        const imageUrl = this.getAttribute('data-image-url');
        modalImage.src = imageUrl;
        imageOverlay.style.display = 'block';
      });
    });

    // Close the image overlay when clicking on it
    imageOverlay.addEventListener('click', function () {
      imageOverlay.style.display = 'none';
    });

    // Prevent image container from closing overlay on click
    const imageContainer = document.querySelector('.image-container');
    imageContainer.addEventListener('click', function (event) {
      event.stopPropagation();
    });

    function deletePostal(id){
      fetch(`/admin/api/postals/${id}`, {
          method: 'DELETE',
        })
          .then(async response => {
            if (response.status == 200) {
              Toast.fire({
                icon: 'success',
                title: 'Posten ble slettet'
              })

              setTimeout(() =>{
                location.reload();
              },3000)
            } else {
              Toast.fire({
                icon: 'error',
                title: await response.json()
              })
            }
          })
          .catch(error => {
            Toast.fire({
              icon: 'error',
              title: error.message
            })
          });
    }

    function filterTableByDate(date) {
      oTable = $('#example1').dataTable();
      oTable.fnFilter(date, 0);
    }

    //Date picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    })

    $('#reservationdate').on('change.datetimepicker',function(e) {
        let date =  moment(e.date._d).format('YYYY-MM-DD')
        filterTableByDate(date)
    })

    $(document).ready(function() {
      const now = new Date();
      const localDate = new Date(now.getTime() - (now.getTimezoneOffset() * 60000));
      const localDateString = localDate.toISOString().split('T')[0];
      filterTableByDate(localDateString)
    });
</script>
</body>
</html>

